@import '~esayemm-styles';

.index {
  background: transparent;
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: $spacing2;

  h3 {
    margin-bottom: $spacing3;
  }

  section + section {
    margin-top: $spacing3;
  }
}
